.btn-icon {
	border-radius: 16px;
	background-color: var(--grey-three);
	padding: 12px;
	margin: 0;
	border: none;
	aspect-ratio: 1/1;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-icon:hover,
.btn-icon:focus {
	background-color: var(--grey-two);
}

.btn-icon:hover:active,
.btn-icon:focus:active {
	background-color: var(--grey-three);
}

.btn-icon:hover > svg > path,
.btn-icon:focus > svg > path {
	stroke: var(--grey-three);
}

.btn-icon:hover:active > svg > path,
.btn-icon:focus:active > svg > path {
	stroke: var(--grey-two);
	transition: stroke 0.2s ease;
}
